@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'Rethink Sans', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --font-slab: 'Roboto Slab', serif;
  --color-peru-red: #C8102E;
  --color-peru-white: #FFFFFF;
  --color-peru-dark: #0f0f0f;
}